<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ratio-crop" version="1.2.0">

    <name>RatioCrop</name>

    <description>Crop an image in a Cordova app</description>

    <license>MIT</license>

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-ios" version=">=3.5.0" />
    </engines>

    <js-module name="RatioCrop" src="www/RatioCrop.js">
        <clobbers target="plugins.ratioCrop" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="RatioCrop">
                <param name="ios-package" value="RatioCrop" />
            </feature>
        </config-file>

        <header-file src="src/ios/RatioCrop.h" />
        <source-file src="src/ios/RatioCrop.m" />
        <header-file src="src/ios/Lib/PECropRectView.h" />
        <source-file src="src/ios/Lib/PECropRectView.m" />
        <header-file src="src/ios/Lib/PECropView.h" />
        <source-file src="src/ios/Lib/PECropView.m" />
        <header-file src="src/ios/Lib/PECropViewController.h" />
        <source-file src="src/ios/Lib/PECropViewController.m" />
        <header-file src="src/ios/Lib/PEResizeControl.h" />
        <source-file src="src/ios/Lib/PEResizeControl.m" />
        <header-file src="src/ios/Lib/UIImage+PECrop.h" />
        <source-file src="src/ios/Lib/UIImage+PECrop.m" />
        <resource-file src="src/ios/Lib/PEPhotoCropEditor.bundle" />

        <framework src="QuartzCore.framework" />
        <framework src="AVFoundation.framework" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RatioCrop">
                <param name="android-package" value="com.peterantonyrausch.crop.RatioCrop" />
            </feature>
        </config-file>

        <framework src="com.soundcloud.android:android-crop:1.0.0@aar" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/RatioCrop.java" target-dir="src/com/peterantonyrausch/crop" />
    </platform>

</plugin>